@charset "utf-8";

.margin{width: 1150px;margin: 0 auto;}

main{overflow: hidden;}
main .m-l{margin-top: 5px;float: left;}
main .m-l .list{padding-bottom: 10px;}
main .m-l .list a{font: 12px/25px "";color: #666;}
main .m-l .list span{font: 700 12px/25px "";color: black}
main .m-l .m-l-b{width: 160px;margin-right: 15px;}
main .m-l .m-l-b h4{font: 700 12px/25px "";color: black}
main .m-r{float: left;width:970px;margin-top: 30px;}
main .m-r p{font: 700 12px/30px "";color: #000;padding: 10px 15px;}
main .m-r .m-r-t{border: 1px solid #dfdfdf;}
main .m-r .m-r-t ul li a{color: #666;padding:0 10px 0 30px;font: 12px/50px "";}
main .m-r .m-r-t ul li a:hover{text-decoration: underline;}
main .m-r .m-r-t .selected{background: #eaeceb;display: flex;}
main .m-r .m-r-t .sex{display: flex;border-top: 1px solid #dfdfdf}
main .m-r .m-r-t .sex ul{display: flex;}
main .m-r .m-r-t .brand{display: flex;border-top: 1px solid #dfdfdf}
main .m-r .m-r-t .brand ul{display: flex;}
main .m-r .m-r-t .brand ul li{padding-right: 10px;}
main .m-r .m-r-t .crowd{display: flex;border-top: 1px solid #dfdfdf}
main .m-r .m-r-t .crowd ul{display: flex;}
main .m-r .m-r-t .crowd ul li{padding-right: 10px;}
main .m-r .m-r-t .price{display: flex;border-top: 1px solid #dfdfdf}
main .m-r .m-r-t .price ul{display: flex;}
main .m-r .m-r-t .price ul li{padding-right: 10px;}
main .m-r .m-r-t .size{display: flex;border-top: 1px solid #dfdfdf}
main .m-r .m-r-t .size ul{display: flex;}
main .m-r .m-r-t .size ul li{padding-right: 10px;}
main .m-r .m-r-t .advanced{display: flex;border-top: 1px solid #dfdfdf}
main .m-r .m-r-t .advanced ul{display: flex;}
main .m-r .m-r-t .advanced ul li{padding-right: 10px;}

main .m-r .m-r-b{margin-top: 50px;text-align: center;}
main .m-r .m-r-b ul li{float: left;padding-right: 7px;margin-bottom: 30px;}
main .m-r .m-r-b .box-t img{width: 235px;height: 315px;}
main .m-r .m-r-b .box-b p{font: 14px/25px "";width:190px;padding: 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding-top: 5px;}
main .m-r .m-r-b .box-b .shop{width: 100px;height: 40px;font: 14px/40px "";color: black;border: 1px solid #555;text-align: center;margin-top: 10px;margin-left: 45px;}



